* {
  margin: 0;
  padding: 0;
  font-family: inter;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

header {
  background-color: #101421;
}

.navbar {
  padding: 33px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-links li a {
  color: #a7afc6;
}
.drawer-right {
  backdrop-filter: blur(8px);
  background-color: #10142193;
}

.nav-links li {
  display: inline-block;
}

.nav-li a:hover {
  color: white;
  margin-top: -20px;
}

.button-head {
  padding: 10px 24px;
  border: transparent;
  border-radius: 9999px;
  background: linear-gradient(104.65deg, #7c5cff 0%, #a78bff 100%);
  box-shadow: 0px 10px 20px 0px #8569f94d;
  color: white;
}

.logo {
  max-width: 125px;
  width: 100%;
  height: 40px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 6px;
}
.icon {
  max-width: 50px;
}

.form {
  padding: 20px !important;
}

@media (max-width: 830px) {
  .nav-links {
    display: none;
  }
  .icon-menu {
    display: block;
  }
  .open {
    display: block;
  }
}

.button-main {
  box-shadow: 0px 10px 30px 0px #7c5cff4d;
}

@media (max-width: 767px) {
  .hero {
    display: block;
  }
}

@media (max-width: 591px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .cards-h2 {
    font-size: 32px;
  }
}

@media (max-width: 800px) {
  .oyoq {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 950px) {
  .image-class {
    max-width: 356px;
  }
  .grids {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .grids {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 890px) {
  .service {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 465px) {
  .service {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 850px) {
  .image-class {
    max-width: 256px;
    margin-top: 30px;
  }
}

.owl-nav {
  display: none;
}
.owl-dots {
  display: none;
}


@media (max-width: 500px) {
  .h4 {
    font-size: 30px;
  }.text{
    font-size: 30px;
  }
}

@media (max-width: 750px) {
  .hero-sect {
    display: block;
  }
  .image-class {
    max-width: 456px;
  }
  .font-text {
    font-size: 35px;
  }
}
